<div class="eventDetailsContainer">

    <h1 class="eventDetailsTitle"><%= event.title %></h1>

    <p class="eventDetailsDescLabel">Description: </p>
    <p class="eventDetailsDescData"><%= event.description %></p>

    <p class="eventDetailsFacLabel">Facilitator(s): </p>
    <p class="eventDetailsFacData"><%= event.facilitators%></p>

    <p class="eventDetailsDateLabel">Date: </p>
    <p class="eventDetailsDateData"><%= event.datetime %></p>

    <p class="eventDetailsTimeLabel">Time: </p>
    <p class="eventDetailsTimeData"><%= event.datetime %></p>

    <p class="eventDetailsLocLabel">Location: </p>
    <p class="eventDetailsLocData"><%= event.location %></p>

</div>