<% if (event) { %>
<a class="nostyle" href="/events/<%= event._id %>">
    <div class="eventListItem">
        <h3 class="eventListItemName"><%= event.title; %></h3>
        <p class="eventListItemDesc"><%= event.description %></p>
        <p class="eventListItemDatetime"><%= event.datetime %></p>
        <p class="eventListItemLocation"><%= event.location %></p>
    </div>
</a>
<% } %>