<%- include('../headerBare.ejs'); %>

<h1 class="formHeader">Edit Profile</h1>
<form class="formContainer" action="/profile/<%- user._id %>" method="POST">
    <label class="formElement1-1" for="email">Email Address: </label> 
    <input class="formElement1-2" type="text" name="email" id="email" value="<%= user.email %>" required="required">

    <label class="formElement3-1" for="fname">First Name: </label> 
    <input class="formElement3-2" type="text" name="fname" id="fname" value="<%= user.fname %>" required="required">

    <label class="formElement2-1" for="lname">Last Name: </label> 
    <input class="formElement2-2" type="text" name="lname" id="lname" value="<%= user.lname %>" required="required">
    
    <label class="formElement4-1" for="phone">Phone Number: </label> 
    <input class="formElement4-2" type="text" name="phone" id="phone" value="<%= user.phone %>" >

    <label class="formElement5-1" for="department">Organization / Department: </label> 
    <input class="formElement5-2" type="text" name="department" id="department" value="<%= user.department %>">

    <label class="formElement6-1" for="category">User Category: </label> 
    <select class="formElement6-2" id="category" name="category" required="required" value=" <%= user.category %>">
        <% if(user.category === "guest"){ %> <%= selected="selected" %> <% } %>
        <option value="guest" <% if(user.category === "guest"){ %> <%= selected="selected" %> <% } %>>Guest</option>
        <option value="student" <% if(user.category === "student"){ %> <%= selected="selected" %> <% } %>>Student</option>
        <option value="faulty" <% if(user.category === "faculty"){ %> <%= selected="selected" %> <% } %>>Faculty</option>
        <option value="staff" <% if(user.category === "staff"){ %> <%= selected="selected" %> <% } %>>Staff</option>
        <option value="classified" <% if(user.category === "classified"){ %> <%= selected="selected" %> <% } %>>Classified</option>
        <!-- <option value="organizer" <% if(user.category === "organizer"){ %> <%= selected="selected" %> <% } %>>Organizer</option>
        <option value="admin" <% if(user.category === "admin"){ %> <%= selected="selected" %> <% } %>>Admin</option> -->

     </select>

    <!-- <label class="formElement7-1" for="password">Password: </label>
    <input class="formElement7-2" type="password" name="password" id="password" required="required"> -->
<!-- 
    <label class="formElement8-1" for="password">Confirm Password: </label>
    <input class="formElement8-2" type="password" name="password" id="password" required="required"> -->

    <input class="formElement9-2 formSubmitButton" type="submit" name="submitButton" id="submitButton" value="Submit">
</form>
<%- include('../footer.ejs'); %>