<% include("../header.ejs"); %>

<h2>RSVP List</h2>
<form action="/events/<%= eventId %>/attendance" action="POST">
    <% attendance.forEach(function(attendee) { %>
    <% if (attendee.attendInfo.didRSVP) { %>
    <input name="<%= attendee.attendInfo.userId %>" id="<%= attendee.attendInfo.userId %>" value="true" type="checkbox"
        <% if (attendee.attendInfo.didAttend) { %>checked="checked" <% } %> />
    <label for="<%=attendee.attendInfo.userId %>" class="name"><%= attendee.email %></label><br />
    <% } %>
    <% }); %>

    <h2>Other</h2>
    <% attendance.forEach(function(attendee) { %>
    <% if (attendee.attendInfo.didRSVP === false && attendee.attendInfo.didAttend === true) { %>
    <input name="<%= attendee.attendInfo.userId %>" id="<%= attendee.attendInfo.userId %>" value="true" type="checkbox"
        <% if (attendee.attendInfo.didAttend) { %>checked="checked" <% } %> />
    <label for="<%=attendee.attendInfo.userId %>" class="name"><%= attendee.email %></label><br />
    <% } %>
    <% }); %>

    <input type='text' id='addAttendeeText' name='addAttendeeText' />
    <button id='addAttendeeButton' name='addAttendeeButton'>Add</button>
    <input type='submit' value='Save All' />
    <div id='attendeeListDiv'></div>
</form>

<h2>Other</h2>

<script>


    function updateEntry(userId, eventId) {
        let checkbox = document.querySelector("#rsvp" + userId);

        let b = { checked: checkbox.checked };

        fetch("/events/" + eventId + "/attendance/" + userId + "?checked=" + checkbox.checked, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            }
        }, {
            body: ""
        });
    }
</script>

<% include("../footer.ejs"); %>