<%- include("../header.ejs"); %>

<form class="attendanceContainer" action="/events/<%= eventId %>/attendance" method="POST">
    <h2 class="attendanceRSVPHeader">RSVP List</h2>
    <input class="attendanceSaveButton" type='submit' value='Save All' />

    <% attendance.forEach(function(attendee) { %>
    <% if (attendee.attendInfo.didRSVP) { %>
    <input name="<%= attendee.attendInfo.userId %>" id="<%= attendee.attendInfo.userId %>" value="true" type="checkbox"
        <% if (attendee.attendInfo.didAttend) { %>checked="checked" <% } %> />
    <label for="<%=attendee.attendInfo.userId %>" class="name"><%= attendee.email %></label><br />
    <% } %>
    <% }); %>

    <h2 class="attendanceOtherHeader">Other</h2>
    <input class="search attendanceAddField" type='text' id='addAttendeeText' name='addAttendeeText' />
    <button class="attendanceAddButton" id='addAttendeeButton' name='addAttendeeButton'>Add</button>  

   
    <% attendance.forEach(function(attendee) { %>
    <% if (attendee.attendInfo.didRSVP === false && attendee.attendInfo.didAttend === true) { %>
    <input name="<%= attendee.attendInfo.userId %>" id="<%= attendee.attendInfo.userId %>" value="true" type="checkbox"
        <% if (attendee.attendInfo.didAttend) { %>checked="checked" <% } %> />
    <label for="<%=attendee.attendInfo.userId %>" class="name"><%= attendee.email %></label><br />
    <% } %>
    <% }); %>

    <div id='attendeeListDiv'></div>

</form>

<h2>Other</h2>

<script>


    function updateEntry(userId, eventId) {
        let checkbox = document.querySelector("#rsvp" + userId);

        let b = { checked: checkbox.checked };

        fetch("/events/" + eventId + "/attendance/" + userId + "?checked=" + checkbox.checked, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            }
        }, {
            body: ""
        });
    }
</script>

<%- include("../footer.ejs"); %>