<%- include('../header.ejs'); %>
<div class="centerContainer">

<% if (FLASHMESSAGE) { %> 
            <h1 class="flashHead"> <%= FLASHMESSAGE %> </h1>
            <br/><br/>
<% } %>
            <br/>
    <h1 class="listHeader">Upcoming Events</h1>

    <% if (events) { %>
    <% events.forEach(function(event) { %>
    <% if (event) { %>
    <a class="nostyle" href="/events/<%= event._id %>">
        <div class="eventListItem">
            <h3 class="eventListItemName"><%= event.title; %></h3>
            <p class="eventListItemDesc"><%= event.description %></p>
            <% var months = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]; %>
            <% var cDate = new Date(event.date);  %>
            <% var month = cDate.getUTCMonth(); %>
            <% var day = cDate.getUTCDate(); %>
            <% var year = cDate.getUTCFullYear(); %>
            <% var zoneOffset = cDate.getTimezoneOffset(); /* maybe doesn't matter if it's LOCAL for now */%>
            <% var hr = cDate.getUTCHours(); %>
            <% var mins = cDate.getUTCHours(); %>

            <% function pad(n) { return n<10 ? '0'+n : n;} %>
            <% function pmam(o) { return o <13 ? 'AM' : 'PM';} %>


            <%  var dispDate=''; dispDate = months[month] + '-' + pad(day) + '-' + year;  /* MM-DD-YYYY */ %>


            <div class="eventListItemDatetime">
                <p><%= dispDate %></p>
                <p><%= event.time %></p>
            </div>
            <p class="eventListItemLocation"><%= event.location %></p>
        </div>
    </a>
    <% } %>
    <% }); %>
    <% } %>

</div>

<%- include('../footer.ejs'); %>