<%- include("../headerOrg.ejs"); %>
<h1 class="formHeader">Edit Event</h1>
<form class="formContainer" action="/events/<%= event._id %>" method="POST">
    <label for="title" class="formElement1-1"> Event Title: </label>
    <input type="text" name="title" class="formElement1-2" required="required" value="<%= event.title %>">

    <label for="description" class="formElement2-1">Event Description: </label>
    <input type="textarea" name="description" class="formElement2-2" value="<%= event.description %>">

  <% var months = ["Jan", "Feb", "Mar", "April", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"]; %>
      <% var cDate = new Date(event.date);  %>
      <% var month = cDate.getMonth(); %>
      <% var day = cDate.getDate(); %>
      <% var year = cDate.getFullYear(); %>
      <% var zoneOffset = cDate.getTimezoneOffset(); /* maybe doesn't matter if it's LOCAL for now */%>
      <% var hr = cDate.getHours(); %>
      <% var mins = cDate.getHours(); %>
      
      <% function pad(n) { return n<10 ? '0'+n : n;} %>
      <% function pmam(o) { return o <13 ? 'AM' : 'PM';} %>


      <%  var prefill_date_format=''; prefill_date_format = year+'-'+pad(month+1)+'-'+pad(day);  /* YYYY-MM-DD */ %>
      <% console.log(prefill_date_format) %>
    <label for="date" class="formElement3-1">Event Date: </label>
    <input type="date" name="date" class="formElement3-2" required="required"
        value="<%= prefill_date_format %>">

    
    <% var fullyTime = event.time %>
    <% var hh = fullyTime.split(":") /* 10:30 AM into ["10", "30 AM"] */ %>
    <% var mmNampm = hh[1].split(" ") /* "30 AM" into ["30", "AM"] */%> 
 


    <label class="formElement4-1" for="time">Choose an hour: </label>
    <select class="formElement4-2" name="time" id="time">
        <option value="1" <% if(hh[0] === "1") { %> <%= selected="selected" %> <% } %> >1</option>
        <option value="2" <% if(hh[0] === "2") { %> <%= selected="selected" %> <% } %>>2</option>
        <option value="3" <% if(hh[0] === "3") { %> <%= selected="selected" %> <% } %>>3</option>
        <option value="4" <% if(hh[0] === "4") { %> <%= selected="selected" %> <% } %>>4</option>
        <option value="5" <% if(hh[0] === "5") { %> <%= selected="selected" %> <% } %>>5</option>
        <option value="6" <% if(hh[0] === "6") { %> <%= selected="selected" %> <% } %>>6</option>
        <option value="7" <% if(hh[0] === "7") { %> <%= selected="selected" %> <% } %>>7</option>
        <option value="8" <% if(hh[0] === "8") { %> <%= selected="selected" %> <% } %>>8</option>
        <option value="9" <% if(hh[0] === "9") { %> <%= selected="selected" %> <% } %>>9</option>
        <option value="10" <% if(hh[0] === "10") { %> <%= selected="selected" %> <% } %>>10</option>
        <option value="11" <% if(hh[0] === "11") { %> <%= selected="selected" %> <% } %>>11</option>
        <option value="12" <% if(hh[0] === "12") { %> <%= selected="selected" %> <% } %>>12</option>
    </select>

    <label class="formElement5-1" for="timemins">Choose a minute: </label>
    <select class="formElement5-2" name="timemins" id="timemins">
        <option value="00" <% if(mmNampm[0] ==="00") { %> <%= selected="selected" %> <% } %>>:00</option>
        <option value="15" <% if(mmNampm[0] ==="15") { %> <%= selected="selected" %> <% } %>>:15</option>
        <option value="30" <% if(mmNampm[0] ==="30") { %> <%= selected="selected" %> <% } %>>:30</option>
        <option value="45" <% if(mmNampm[0] ==="45") { %> <%= selected="selected" %> <% } %>>:45</option>
    </select>

    <label class="formElement6-1" for="timeampm">Choose AM / PM</label>
    <select class="formElement6-2" name="timeampm" id="timeampm">
        <option value="AM" <% if(mmNampm[1] ==="AM") { %> <%= selected="selected" %> <% } %> > AM</option>
        <option value="PM" <% if(mmNampm[1] ==="PM") { %> <%= selected="selected" %> <% } %> > PM</option>
    </select>

    <label for="capacity" class="formElement7-1">Event Capacity: </label>
    <input type="number" min="1" max="10000" name="capacity" class="formElement7-2" value="<%= event.capacity %>">

    <label for="location" class="formElement8-1">Event Location: </label>
    <input type="text" name="location" class="formElement8-2" value="<%= event.location %>">

    <input class="formElement9-2 formSubmitButton" type="submit" name="submitButton" id="submitButton" value="Save">
    </div>
</form <%- include("../footer.ejs"); %>