<%- include('../header.ejs'); %>

<div class="inventorySearchAddContainer">  
    <form action="/inventory/search/" method="GET" class="searchForm">
        <input id="inventorySearchField"name="invName" class="inventorySearchField" type="text" placeholder="Item Name">
        <input type="submit" class="inventorySearchButton" value="Search">
    </form>
</div>

<h1 class="listHeader">Item Details: <%= item.name %></h1>
<hr/>
<div class="inventoryItemViewContainer">
    <p class="inventoryItemViewName"> <%= item.name %> </p>
    <p class="inventoryItemViewDesc"> <%= item.description %> </p>
    <div class="inventoryItemViewDetailsContainer">
        <p class="inventoryItemViewSNLabel"> Serial Number:</p>
        <p class="inventoryItemViewSNData"><%= item.sn %></p>
        <p class="inventoryItemViewStockStatusLabel">Stock Status: </p>  
        <p class="inventoryItemViewStockStatusData"><%= ((item.checkedOut ==="true") ? "Checked Out" : "Available"); %> </p>
    </div>
</div>

<%- include('../footer.ejs'); %>