<%- include('../headerOrg.ejs'); %>

<div class="inventorySearchAddContainer">  
  <form action="/inventory/search/" method="GET" class="searchForm">
      <input id="inventorySearchField"name="invName" class="inventorySearchField" type="text" placeholder="Item Name">
      <input type="submit" class="inventorySearchButton" value="Search">
  </form>
  <form  class="addForm" action="/inventory/create" method="GET">
    <input class="inventoryAddItemButton" type="submit" value="Add Item"> 
  </form>
</div>

<h1 class="listHeader">All Inventory Items</h1>
<hr/>
<% if (inventory) { %>
<% inventory.forEach(function(inventory) { %>
    <% if (inventory) { %>
      <a class="nostyle" href="/inventory/<%= inventory._id %>">
        <div class="inventoryItemContainer">
          <p class="inventoryItemName"><%= inventory.name  %></p>
          <p class="inventoryItemDesc"><%= inventory.sn %></p>
        </div>
      </a>
  <% } %>
<% }); %>
<% } %>

<%- include('../footer.ejs'); %>