<%- include("../headerOrg.ejs"); %>
<h1 class="formHeader">Edit Inventory Item</h1>
<form id="inventoryItemForm" class="formContainer" action="/inventory/<%= item._id %>" method="POST">
    <label for="name" class="formElement1-1"> Item Name: </label>
    <input type="text" name="name" class="formElement1-2" value="<%= item.name %>">

    <label for="description" class="formElement2-1">Item Description: </label>
    <textarea name="description" class="formElement2-2 textArea"><%= item.description %></textarea>

    <label for="sn" class="formElement3-1">Item Serial Number: </label>
    <input type="text" name="sn" class="formElement3-2" value="<%= item.sn %>">

    <input class="formElement6-2 formSubmitButton" type="submit" name="submitButton" id="submitButton" value="Save">
    </div>
</form>
<%- include("../footer.ejs"); %>