<%- include('../headerOrg.ejs'); %>

<h1 class="listHeader">All Inventory Items</h1>

<div class="inventorySearchAddContainer">

  <form class="searchFormA" action="/inventory"  method="GET">
    
    <input class="inventorySearchField" type="text" placeholder="search inv name">
    <input class="inventorySearchButton" type="submit" value="Search Item">

  </form>

  <form  class="addFormA" action="/inventory/create" method="GET">
    <input class="inventoryAddItemButton" type="submit" value="Add Item"> 
  </form>
</div>

<% if (inventory) { %>
<% inventory.forEach(function(inventory) { %>
    <% if (inventory) { %>
      <a class="nostyle" href="/inventory/<%= inventory._id %>">
        <div class="inventoryItemContainer">
          <p class="inventoryItemName"><%= inventory.name  %></p>
          <p class="inventoryItemDesc"><%= inventory.sn %></p>
        </div>
      </a>
  <% } %>
<% }); %>
<% } %>

<%- include('../footer.ejs'); %>