<%- include('../headerOrg.ejs'); %>

<div class="inventorySearchAddContainer">
<!-- fix the action  and classes for CSS -->
  <form class="searchForm" action="/inventory"  method="GET">
    
    <input class="inventorySearchButtonx" type="text" placeholder="search by inv name">
    <button class="inventoryAddItemButtonx" type="submit">Search</button>

  </form>

  <form class="searchForm" action="/inventory/create" method="GET">
    <button class="inventoryAddItemButton" type="submit">Add Item</button>
  </form>
</div>

<% if (inventory) { %>
<% inventory.forEach(function(inventory) { %>
    <% if (inventory) { %>
      <a class="nostyle" href="/inventory/<%= inventory._id %>">
        <div class="inventoryItemContainer">
          <p class="inventoryItemName"><%= inventory.name  %></p>
          <p class="inventoryItemDesc"><%= inventory.sn %></p>
        </div>
      </a>
  <% } %>
<% }); %>
<% } %>

<%- include('../footer.ejs'); %>